$color-gray-100: #07050f;
$color-gray-50: #9290a5;
$color-gray-10: #f8f9ff;
$color-red-100: #ff1c44;
$color-red-50: #f88499;
$color-blueBerry-100: #4f4fff;
$max-width: 1200px;
$color-border-medium: #5e6488;
$color-neutral-700: #141938;
$color-neutral-600: #7981b2;

$breakpoint-mobile: 768px;
