@use "sass:color";
@use "../../../styles/_variables.scss" as *;

.customButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 700;

  &--sm {
    width: 120px;
    padding: 10px 20px;
    font-size: 14px;
  }

  &--md {
    width: 195px;
    padding: 20px 40px;
    font-size: 16px;
  }

  &--lg {
    width: 260px;
    padding: 24px 48px;
    font-size: 20px;
  }
  &--content {
    width: fit-content;
    font-size: 20px;
  }

  &--black {
    &--active {
      background-color: $color-gray-100;
      cursor: pointer;

      &:hover {
        background-color: color.scale($color-gray-100, $lightness: +15%);
      }
      &:active {
        background-color: color.scale($color-gray-100, $lightness: 0%);
        transform: scale(0.98);
      }
    }

    &--inactive {
      background-color: $color-gray-50;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
  &--red {
    &--active {
      background-color: $color-red-100;
      cursor: pointer;

      &:hover {
        background-color: color.scale($color-red-100, $lightness: -15%);
      }
      &:active {
        background-color: color.scale($color-red-100, $lightness: 10%);
        transform: scale(0.98);
      }
    }

    &--inactive {
      background-color: $color-red-50;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
